:root {
    --gradient-body: linear-gradient(45deg, #2d21d6, #ffda67);
    --card: #272524
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    /* background: linear-gradient(60deg, #140aaa, #e02626); */
    /* background-color: #dbdbd9; */
    color: #333;    
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

body.light-mode {
    /* background: repeating-linear-gradient(135deg, #7e7e5d, #bbdefb); */
    background-color: #bbdefb;
    /* color: #4e342e; */
    /* background-size: cover; */
    /* height: 100vh; */
}

body.dark-mode {
    /* background: linear-gradient(135deg, #0a0a0a, #1a237e); */
    /* background-color: #1a237e; */
    background-color: #10154d;
    /* color: #e0e0e0; */
}

header {
    background-color: #333;
    color: #fff;
    padding: 25px 0;
    text-align: center;
    position: relative;
    align-items: center;
}

header h1 {
    text-shadow: 
    0 0 10px,
    0 0 20px
    ;
}


h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    color: #ff6347;
    text-shadow: 
    0 0 10px,
    0 0 20px;
    text-decoration: underline;
}

section {
    padding: 20px;
    margin: 20px 0;
}

h2 {
    color: #333;
}

.dark-mode h2 {
    color: #e0e0e0;
}

.project {
    text-align: left;
    max-width: 1200px;
    background-color: #fff;
    padding: 15px;
    margin: 15px auto;
    border-radius: 10px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.6);
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    width: 100%;
    bottom: 0;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#Contact {
    padding-bottom: 50px;
    text-align: center;
}

.spacedParagraph {
    margin-bottom: 20px;
}

#Projects {
    text-align: center;
}
