* {
    box-sizing: border-box;
}

:root {
    --gradient: linear-gradient(45deg, #ff7c7d, #ffda67);
    --card: #272524
}

#newAbout {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 70vh;
    /* background: var(--gradient); */
    /* background-color: #e0f7fa; */
    /* background-color: #f5f5dc; */
    font-family: Arial, Helvetica, sans-serif;
    /* color: #2e7d32; */
}

#newAbout.light-mode {
    /* background: linear-gradient(135deg, #f5f5dc, #bbdefb); */
    color: #4e342e;
}

#newAbout.dark-mode {
    /* background: linear-gradient(135deg, #0a0a0a, #1a237e); */
    color: #e0e0e0;
}

#newAbout.dark-mode h2 {
    color: #e0e0e0;
}

.about-flipcard {
    perspective: 1000px;
}

.about-cardContainer {
    display: grid;
    width: 75vw;
    max-width: 1200px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    /* background-color: #ffccbc; */
    /* background-color: #bbdefb; */
    border-radius: 25px;
    box-sizing: border-box;
    /* transform: rotateY(180deg); */
}

.about-cardContainer.light-mode {
    border: 1px solid #008080;
    background-color: #ffe0b2;
}

.about-cardContainer.dark-mode {
    background-color: #311b92; 
    border: 1px solid #00bcd4; 
}

.about-cardContainer.flipped {
    transform: rotateY(180deg);
}
.about-cardContainer.unflipped {
    transform: rotateY(0deg);
}
/* .about-cardContainer:hover {
    transform: rotateY(180deg);
} */

.aboutFront, .aboutBack {
    grid-row: 1;
    grid-column: 1;
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
    /* position: absolute; */
    backface-visibility: hidden;
    border-radius: 25px;
    box-sizing: border-box;
}

.aboutFront {
    /* background-color: #0077b5; */
    z-index: 2;
    transform: rotateY(0deg);
    white-space: normal;
}

.aboutBack {
    /* background-color: #f8f8f8; */
    transform: rotateY(180deg);
    flex-direction: column;
}

.aboutFront img {
    max-width: 400px;
    width: 36vw;
    height: 480px;
    object-fit: cover;
    margin-left: -60px;
    margin-right: 30px;
    border-radius: inherit;
    box-shadow: 0 60px 40px rgb(0, 0, 0 / 8%);
    transition: border-radius 0.3s;
    border: solid 1px;
}

.aboutFront h2 {
    font-size: 32px;
    font-weight: 400;
    margin-top: 0;
    margin-right: 30px;
    margin-bottom: 5px;
    /* color: #fdfcfd; */
}

.aboutFront h3 {
    font-size: 22px;
    font-weight: 400;
    margin: 0;
    opacity: 0.9;
    /* margin-bottom: 10px; */
}

.aboutFront p {
    font-size: 22px;
    font-weight: 400;
    margin-top: 10px;
    /* margin-bottom: 30px; */
    opacity: 0.8;
}


.socials {
    align-items: center;
    justify-content: left;
    display: flex;
    margin-top: 10px;
    gap: 8px;
}

.socials button {
    text-decoration: none;
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    transition: .6s;
    text-align: center;
    box-shadow: 2px 5px 4px rgba(0, 0, 0, 0.6);
}

.socials button:hover {
    transform: translate(0, -10%);
}

.socials button:nth-of-type(1) {
    font-size: 30px;
    font-family: 'Source sans pro', sans-serif;
}

.socials button:nth-of-type(1):hover {
    background-color: #0072b1;
}

.socials button:nth-of-type(2) span {
    font-size: medium;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

#flip-button .flip-button-icon {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.3s, opacity 0.3s linear;
}

.socials button:nth-of-type(2):hover {
    background-color: #ab01d1;
}

#flip-button:hover .flip-button-text {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.3s, opacity 0.3s linear;
}

#flip-button:hover .flip-button-icon {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s 0.3s, opacity 0.3s linear;
}


/*
Media less than 1000px
*/
@media (width <= 1000px) {
    .aboutFront img {
        height: 280px;
    }

    .aboutFront h2 {
        font-size: 24px;
    }
    .aboutFront h3 {
        font-size: 22px;
    }
    .aboutFront p {
        font-size: 18px;
    }
    /* #About {
        
    } */
}

/*
Media less than 600px
*/
@media (width <= 600px) {
    #About {
        height: 70vh;
        padding-top: 5vh;
    }

    .about-cardContainer {
        width: 95vw;
    }

    .aboutFront h2 {
        font-size: 22px;
    }
    .aboutFront h3 {
        font-size: 20px;
    }
    .aboutFront p {
        font-size: 14px;
    }

    .aboutFront {
        /* margin: 0 40px; */
        padding-left: 25px;
        padding-right: 25px;
        /* padding-bottom: 60px; */
        width: 100%;
        text-align: center;
        flex-direction: column;
    }

    .aboutFront h2 {
        margin-right: 0;
        font-size: 26px;
    }

    /* .aboutFront img {
        margin: -100px 0 30px 0;
        width: 100%;
        max-width: 1000px;
        height: 250px;
    } */

    .aboutFront img  {
        height: 50vw;
        width: 50vw;
        border-radius: 50%;
        border: 5px solid;
        box-shadow: none;
        margin: -70px 0 30px 0;
    }

    .aboutFront p {
        max-width: 360px;
    }

    .socials {
        justify-content: center;
    }
}

@media (width <= 400px) {
    #About {
        height: 70vh;
        padding-top: 5vh;
    }
}

@media (width <= 380px) {
    #About {
        height: 80vh;
        padding-top: 5vh;
    }
}